* {
    margin: 0;
    padding: 0;
}
.auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rebeccapurple;
    height: 100vh;
}
h1 {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    gap: 20px;
    width: 200px;
    border-radius: 25px;
}
input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
}
button {
    padding: 10px;
    border: none;
    background-color: teal;
    cursor: pointer;
    color: white;
}
span {
    font-size: 12px;
    text-align: center;
}


